@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(fonts/Helvetica.woff);
}

@font-face {
  font-family: "avenir", sans-serif;
  src: url(fonts/avenir_roman_12.otf);
}

@font-face {
  font-family: "arb-fe-medium";
  src: url("fonts/arb-fe-medium.woff") format("woff");
}

@font-face {
  font-family: "arb-fa-medium";
  src: url("fonts/arb-fa-medium.woff") format("woff");
}

:root {
  --display-header-tmp: "";
  --bs-primary: #1B8354 !important;
}

body {
  font-family: "Tajawal", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  direction: rtl;

}

body.ad {
  direction: ltr;
}

.warning-form {
  color: red !important;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.svcTypeNote {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}

.title.page {
  color: #233f48;
}

.div-submit .btn.next {
  background-color: #1e9b3b;
  color: white;
  width: 150px;
  border-radius: 20px;
}

.div-submit .btn.next:hover {
  background-color: #46a65d;
}

.title.new-date {
  color: #027d95;
  font-size: 22px;
}

.title.new-date .lin-1 {
  margin-bottom: 0px;
}

.title.new-date .lin-2 {
  margin-top: -13px;
  margin-bottom: 0px;
}

.title.new-date .lin-2 .lin-3 {
  margin-top: -13px;
  margin-bottom: 0px;
}

.payment-summary-div {
  background-color: #faf4f0;
  height: 100vh;
}

.title.payment-summary {
  color: #233f48;
}

.nafath-div {
  background-image: linear-gradient(to right, #ebeae7, #ecebe9);
  padding-bottom: 50px;
}

.nafath-div .title {
  font-weight: 700;
  color: #009987;
  background-color: white;
  font-size: 50px;
}

.nafath-div .sub-title-div {
  background-image: linear-gradient(#e8e8e7, #f5f6f9, #e8e8e7);
}

.nafath-div .sub-title-div .sub-title {
  color: #009987;
  font-weight: 700 !important;
}

.nafath-div .content .enter .btn {
  background-color: #009987;
  padding: 5px 15px !important;
  border: 0;
  color: white;
  width: 100%;
  border-radius: 7px;
  outline: none;
}

.nafath-div .content .enter .btn:active {
  background-color: rgb(45, 163, 149);
}

.nafath-div .content .form-main {
  background-color: white;
  padding-top: 30px !important;
  padding-bottom: 50px !important;
}

.nafath-div .content .img-sec-div .img-sec {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nafath-div #reqQuModal .btn-send {
  display: block;
  color: white;
  background-color: #101010 !important;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.nafath-div .content-modal {
  width: 95%;
  border: 1px #f4f4f4 solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #171717;
  font-size: 17px;
  font-weight: 500;
  word-wrap: break-word;
  gap: 10px;
  border-radius: 5px;
  text-align: center;
}

.nafath-div #strongCode {
  display: inline-block;
  text-align: center;
  padding: 15px;
  border: 10px green solid;
  border-radius: 50%;
}

.motasel-div {
  height: 100vh;
  background-color: #edf1f9;
  padding-bottom: 30px;
}

.motasel-div .container {
  background-color: white;
}

.motasel-div .container .dir .icon-file {
  width: 50px;
  height: 60px;
  object-fit: contain;
}

.motasel-div .container .dir .icon-arrow {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.motasel-div .container .dir .title {
  color: #233f48;
  margin-bottom: 0 !important;
}

.motasel-div .container .dir .sub-title {
  color: #000158;
  font-weight: 700;
  margin-bottom: 0;
}

.motasel-div .container .content {
  padding-bottom: 20px;
}

.motasel-div .container .content .svcTypeNote {
  margin-bottom: -7px;
}

.motasel-div .container .content .bot-auth .card {
  height: 50px;
  background-color: #eef1f7;
}

.motasel-div .container .content .enter .btn {
  background-color: white;
  padding: 5px 15px !important;
  border: 1px solid black;
  color: #000000;
  border-radius: 0;
}

.motasel-div .container .content .enter .btn:active {
  background-color: whitesmoke;
}

.motasel-div .container .progress-verify {
  background-color: white;
  padding-bottom: 40px;
}

.motasel-div .container .progress-verify .svcTypeNote {
  color: black;
  margin-bottom: 0;
}

.motasel-div .container .progress-verify .svcTypeNote.line2 {
  color: #000158;
}

.motasel-div .container .code-verify {
  padding-bottom: 20px;
}

.motasel-div .container .code-verify .svcTypeNote {
  margin-bottom: -7px;
  color: black;
}

.motasel-div .container .code-verify .enter .btn {
  background-color: white;
  padding: 5px 15px !important;
  border: 1px solid black;
  color: #000000;
  border-radius: 0;
}

.motasel-div .container .code-verify .enter .btn:active {
  background-color: whitesmoke;
}

.payment-select-div .image-cards.payment-select .card img {
  height: 100%;
  object-fit: contain;
}

.payment-select-div .image-cards.payment-select .card.lin-1 {
  flex-grow: 1;
}

.payment-select-div .image-cards.payment-select .card.lin-2 {
  min-width: 20%;
  width: 20%;
}

.payment-select-div .payment-form-sec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.payment-select-div .payment-form-sec .payment-form {
  background-color: #daf2f6;
}

.payment-select-div .payment-form-sec .payment-form .title {
  color: #008eaa;
}

.payment-select-div .payment-form-sec .payment-form .conform {
  height: 50px;
}

.payment-select-div .payment-form-sec .payment-form .conform .btn {
  min-width: 100px;
  max-width: 80px;
  min-width: 80px;
  height: 40px;
  background-color: #0096b2;
  color: white;
  border-radius: 20px;
}

.sec-admin-tmp {
  position: relative;
}

/* الكود الجديد */
.status-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

/* بقية التنسيقات */
.sec-admin-tmp .sidebar-container {
  min-height: calc(100vh - 80px);
}

.payment-select-div .payment-form-sec .payment-form .conform .btn:active {
  background-color: rgb(114, 187, 199);
}

.payment-select-div .payment-form-sec .payment-form .conform .img-cards {
  max-width: 200px;
}

.payment-select-div .payment-form-sec .payment-form .conform .img-cards img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.payment-form-progress {
  background-color: #daf2f6;
}

.payment-form-progress .div-call {
  margin-top: 10px;
  height: 200px;
  background-color: white;
}

.payment-form-progress .div-call .calling-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cards.payment-summary .card .card-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cards.payment-summary .card .card-body .badge {
  border-radius: 20px;
  font-size: 10px;
}

.cards.payment-summary .card.lin-1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cards.payment-summary .card.lin-2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.form-date .sec-form-title {
  color: #233f48;
}

.form-date .form-check-input {
  width: 50px;
  height: 25px;
  min-width: 50px;
}

.form-date .choose-state-vical {
  color: #3d3e3e;
  text-shadow: #000000 1px 0 1px;
}

.form-date .buttons.vecual .btn {
  flex-basis: 45%;
  flex-grow: 0;
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  border-radius: 20px;
  padding: 6px;
  font-family: "Tajawal", sans-serif;
  min-width: 200px;
}

.form-date .buttons.vecual .btn.select {
  background-color: white;
  border: 1px solid #1e9b3b !important;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  box-shadow: 0px 1px 5px #1e9b3b;
}

.form-date .buttons.vecual .btn--:hover {
  background-color: white;
  border: 0px;
  border-color: #86b7fe;
  outline: 0;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 2px solid #77bf72 !important;
  background-color: white;
  border: 0px;
  border-color: #86b7fe;
  /* outline: 0; */
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 1px solid #77bf72 !important;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02) !important; */
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
  /* box-shadow: green 0px 0px 0.25em; */
  box-shadow: 0px 1px 5px #74c26e;
}

.form-date .select-country-code {
  max-width: 150px;
}

.form-date .form-check.form-switch .form-check-label {
  color: #516669;
  font-size: 17px;
  font-weight: 500;
}

.form-date .form-control,
.form-date .form-select {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.form-date .palte-panel {
  height: 80px !important;
  width: 200px !important;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0;
  padding: 10px;
}

.form-date .palte-panel .palte {
  background-color: #f1f1f1;
  height: 100% !important;
  width: 100% !important;
  border: 1px black solid;
  border-radius: 10px;
  padding-right: 17px;
}

.form-date .palte-panel .palte .box-num {
  border-right: 1px black solid;
  display: flex;
  flex-direction: row-reverse;
}

.form-date .palte-panel .palte .box-num .side {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.form-date .palte-panel .palte .box-num .side .upper,
.form-date .palte-panel .palte .box-num .side .lower {
  height: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.form-date .palte-panel .palte .box-num .side .upper {
  border-bottom: 1px solid black;
}

.form-date .palte-panel .palte .box-num .num-side {
  border-right: 1px black solid;
  direction: ltr;
}

.form-date .palte-panel .palte .box-num .num-side div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form-date .palte-panel .palte .box-num .latter-side div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .form-date .panel-inputs-flex-div div {
    width: 100% !important;
  }
}

@media (min-width: 768px) {

  .header,
  .MenuSec-,
  .footer,
  .coursor,
  .app-banner,
  .sec-admin-tmp {
    font-size: 17px !important;
  }
}

.header,
.MenuSec,
.footer,
.coursor,
.app-banner,
.sec-admin-tmp {
  background-color: #fff;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
}

.header .div-header-top .div-log .logo-img {
  object-fit: contain;
  height: 40px;
}

.header .div-header-top .div-log p {
  margin-top: 15px;
  color: #777;
}

.header .div-header-top .div-search-lang {
  flex-direction: column;
  gap: 0.5rem !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

.header .div-header-top .div-search-lang a {
  color: #334957;
  text-decoration: none;
  padding-right: 12px;
}

.header .div-header-top .div-search-lang a:focus,
.header .div-header-top .div-search-lang a:hover {
  text-decoration: underline;
}

.header .div-header-top .div-search-lang a:active,
.header .div-header-top .div-search-lang a:hover {
  outline: 0;
}

.header .div-header-top .div-search-lang .div-search .btn {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #334957;
  padding: 0 !important;
  background-color: transparent;
  font-weight: bold;
  border-radius: 0;
  border-color: transparent;
  font-size: 19px;
  font-family: "Tajawal", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.header .div-header-top .div-search-lang .div-search .btn:hover,
.header .div-header-top .div-search-lang .div-search .btn:active {
  border-color: var(--bs-btn-hover-border-color);
}

.header .div-header-top .div-search-lang .div-search .form-control {
  border-radius: 0;
  height: 30px;
  width: 100px !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 20px !important;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  padding: 6px 12px;
}

@media (min-width: 768px) {
  .header .div-header-top .div-search-lang .div-search .form-control {
    width: 100px;
    border: none;
    box-shadow: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  }

  .header .div-header-top .div-search-lang .div-search .form-control:focus {
    width: fit-content !important;
  }
}

@media (min-width: 768px) {
  .header .div-header-top .div-search-lang {
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    gap: 5rem !important;
  }

  .header .div-header-top .div-search-lang a {
    padding-right: 0px;
  }
}

.header .div-header-middle p {
  color: #777;
}

.MenuSec {
  border-top: 1px solid rgba(213, 212, 212, 0.9333333333);
  border-bottom: 3px solid #0096b8;
  border-width: 0.2rem;
}

.MenuSec .menu-nav .navbar-nav {
  padding-inline-start: 0px;
}

.MenuSec .menu-nav .navbar {
  background-color: transparent !important;
}

.MenuSec .menu-nav .navbar .items {
  width: 100%;
}

.MenuSec .menu-nav .navbar .items .nav-item a {
  color: #000000;
  text-align: center;
  padding: 20px 20px;
}

.MenuSec .menu-nav .navbar .items .nav-item:hover,
.MenuSec .menu-nav .navbar .items .nav-item.select {
  background: #0096b8;
  font-weight: bold;
}

.MenuSec .menu-nav .navbar .items .nav-item:hover a,
.MenuSec .menu-nav .navbar .items .nav-item.select a {
  color: #fff !important;
}

@media (max-width: 991px) {
  .MenuSec {
    border-top: 1px solid rgba(213, 212, 212, 0.9333333333);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;
  }
}

.footer {
  background-color: #e6e6e6;
  color: #58595b;
  min-height: 100px;
}

.footer .div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer .div-footer .f-col-1>a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
}

.footer .div-footer .f-col-2 .div-headset .img-head-set {
  width: 86px;
  margin: 0 20px;
  filter: invert(0.7);
  float: right;
}

.footer .div-footer .f-col-2 .div-contact a {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
  letter-spacing: 0;
  color: #58595b;
  text-decoration: none;
}

.footer .div-footer .f-col-2 .div-contact a:hover {
  text-decoration: underline;
}

.footer .div-footer .f-col-2 .div-social {
  min-width: 100%;
}

.footer .div-footer .f-col-2 .div-social .social-icons a {
  color: #58595b;
  background: transparent;
}

.footer .div-footer .f-col-2 .div-social .social-icons img {
  filter: grayscale(1);
  transition: 500ms;
  width: 28px;
  height: 28px;
}

@media (max-width: 991px) {
  .footer .div-footer .f-col-2 {
    min-width: 100%;
  }
}

.footer .div-footer .f-col-3 .supervisor {
  margin-bottom: 0;
  font-size: 13px;
}

.footer .div-footer .f-col-3 .copy {
  padding-top: 10px;
  font-size: 70%;
}

@media only screen and (min-width: 991px) {
  .footer {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .footer .div-footer {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
}

.coursor {
  position: relative;
}

.coursor .main-container {
  margin-bottom: 0 !important;
  background-color: #f1f4f8;
}

.coursor .main-container .booking-start {
  padding-bottom: 40px;
}

.coursor .main-container .booking-start .booking-start2 {
  background-color: #f1f4f8;
  margin: 0 auto;
  width: 110%;
  right: -5%;
  position: relative;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .img-responsive {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container h2 {
  color: #58595b;
  line-height: 50px;
  font-size: 30px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 500;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container h4 {
  text-align: center;
  max-width: 80%;
  line-height: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #334957;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container a {
  margin: 10px 0 10px 0;
  text-decoration: none;
  padding: 6px 24px;
  border-radius: 50px;
  font-size: 18px;
  min-width: 200px;
  text-align: center;
  display: inline-block;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container a.book-btn {
  background-color: #18754d;
  color: #fff;
  border: 0;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container a.edit-btn {
  color: #000;
  border: 1px solid;
  border-color: #000;
}

.coursor .main-container .booking-start .booking-start2 .booking-start2-flex .flex-right-container a.delete-btn {
  color: #ea6561;
  border-color: #ea6561;
  border: 2px solid;
}

@media (min-width: 992px) {
  .coursor .main-container .booking-start .booking-start2 .booking-start2-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

.coursor .main-container::before {
  background-image: url(./images/bg.svg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.app-banner {
  background-color: #0094b8;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  transform-style: preserve-3d;
  text-align: center;
  transform-style: preserve-3d;
  line-height: 1.75;
}

.app-banner h2 {
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  line-height: inherit;
  font-size: 30px;
  margin-top: 20px;
}

.app-banner p {
  margin-bottom: 0;
}

.app-banner .banner-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.app-banner .banner-flex .img-responsive {
  display: inline-block;
  width: 250px;
}

@media (min-width: 576px) {
  .app-banner .banner-flex {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .coursor {
    padding: 0;
  }
}

.sec-admin-tmp {
  position: relative;
}

.sec-admin-tmp .sidebar-container {
  min-height: calc(100vh - 80px);
}

.sec-admin-tmp .sidebar-container .sidebar {
  margin: 0;
  padding: 0 10px;
  width: fit-content;
  background-color: #f1f1f1;
  position: sticky;
  top: 0px;
  height: 100vh;
  overflow-y: scroll;
  border-radius: 5px;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  border-radius: 5px;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 1px solid #e6e6e6 !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.02) !important;
  cursor: pointer;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div .info-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div .info-user .new-action {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  background-color: green;
  border-radius: 10px;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div .info-user .name {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div .status-user {
  color: #404040;
}

.sec-admin-tmp .sidebar-container .sidebar .user-div .status-user .payment_proven {
  color: blue;
}

.sec-admin-tmp .sidebar-container .sidebar a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.sec-admin-tmp .sidebar-container .sidebar a.active,
.sec-admin-tmp .sidebar-container .sidebar .user-div.selected {
  background-color: #04aa6d;
  color: white;
}

.sec-admin-tmp .sidebar-container .sidebar a:hover:not(.active),
.sec-admin-tmp .sidebar-container .sidebar .user-div:hover:not(.selected) {
  background-color: #0eb074;
  color: white;
}

.sec-admin-tmp .sidebar-container div.content {
  min-height: 100%;
}

.sec-admin-tmp .sidebar-container div.content .min-width-100 {
  min-width: 100%;
}

.sec-admin-tmp .sidebar-container div.content .bc-color-card_payment {
  /*background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1)) !important;*/
  background-color: RGBA(248, 249, 250, 0.5) !important;
}

.sec-admin-tmp .sidebar-container div.content .bc-color-card_motsal {
  background-color: RGBA(248, 249, 250, 1) !important;
}

.sec-admin-tmp .sidebar-container div.content .bc-color-card_nafath {
  background-color: #f1f1f1;
}

.sec-admin-tmp .sidebar-container div.content .card-header {
  color: #777;
  font-weight: 600;
  font-size: 14px;
}

.sec-admin-tmp .sidebar-container div.content .card-body {
  font-size: 14px !important;
}

.sec-admin-tmp .sidebar-container div.content .card-body .card-title {
  font-size: 12px !important;
  color: black;
  font-weight: bold !important;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-sub-forms {
  display: flex;
  width: 100%;
  overflow: auto;
  gap: 7px;
  padding-bottom: 5px;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-sub-forms .div-sub-form {
  width: 230px;
  min-width: 230px;
  border-radius: 5px;
  border: 1px solid #e6e6e6 !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02) !important;
  padding: 5px 5px;
  word-break: break-all;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-sub-forms .div-sub-form-w-big {
  width: 270px !important;
  min-width: 270px !important;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-item-field {
  height: auto;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-item-field p {
  margin: 0.2rem !important;
  font-size: 18px;
  font-weight: bold;
}

.sec-admin-tmp .sidebar-container div.content .card-body .div-item-field .label-form {
  color: #777;
  font-size: 13px;
  font-weight: 400;
}

.sec-admin-tmp .sidebar-container div.content .card-body.card-payment .div-item-field p:not(.label-form) {
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 1px solid #e6e6e6 !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.02) !important;
  padding: 3px;
  border-radius: 5px !important;
  min-height: 33px;
}

@media screen and (max-width: 900px) {
  .sec-admin-tmp .sidebar-container .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .sec-admin-tmp .sidebar-container .sidebar .user-div {
    margin-left: 5px;
    margin-right: 5px;
  }

  .sec-admin-tmp .sidebar-container div.content {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .sec-admin-tmp .sidebar-container .sidebar {
    display: block;
    height: 230px;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .sec-admin-tmp .sidebar-container .sidebar .user-div .info-user {
    flex-grow: 1;
  }

  .sec-admin-tmp .sidebar-container .sidebar .user-div .info-user .name {
    flex-grow: 1;
    padding-left: 20px;
  }

  .sec-admin-tmp .sidebar-container .sidebar a {
    text-align: right;
    float: none;
  }
}

@media (max-width: 900px) {
  .sec-admin-tmp .sidebar-container {
    flex-direction: column;
  }
}

section.sec-admin-tmp::after {
  content: "";
  clear: both;
  display: table;
}

.sec-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.sec-login .div-logo img {
  width: 200px;
  height: 60px;
  object-fit: contain;
}

.sec-login .div-form {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 20px 20px;
  width: 300px;
}

.ad-navbar {
  color: white !important;
}

.ad-navbar .logo-img {
  width: 150px;
  height: 40px;
  object-fit: contain;
}

.ad-navbar a:not(.dropdown-item) {
  color: white !important;
}

.ad-navbar .navbar-toggler {
  box-shadow: none !important;
}

.ad-navbar .dropdown-toggle {
  box-shadow: none;
  color: white;
  border: none;
  font-size: 18px;
}

.ad-navbar .dropdown-menu.actions .dropdown-item {
  cursor: pointer;
}

@media (min-width: 992px) {
  .ad-navbar .dropdown-menu.show {
    left: -50px;
  }

  .ad-navbar .dropdown-menu.actions.show {
    left: -100px;
  }
}

.popup-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  font-family: "Cairo", sans-serif;
}

.popup-header {
  text-align: center;
  margin-bottom: 20px;
}

.popup-logo {
  width: 100px;
  margin-bottom: 10px;
}

.popup-header h2 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.password-container {
  display: flex;
  align-items: center;
}

.show-password {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -30px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

.popup-link {
  color: #007bff;
  text-decoration: none;
}

.popup-link:hover {
  text-decoration: underline;
}

.popup-footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
  text-align: center;
}

.popup-footer a {
  color: #007bff;
  text-decoration: none;
}

.popup-footer a:hover {
  text-decoration: underline;
}

.form-check-input:checked {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.form-check-input:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 .25rem rgba(27, 131, 84, .25);
}